node_modules/
vendor/
.env
.env.local
.next/
dist/
build/
.DS_Store
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
*.tsbuildinfo
